.settings/
build/
.vscode/
ui/build/
Core/Src/
startup/
.project
.cproject
*.log
/Debug/
STM32F769NIHx_FLASH.ld
startup_stm32f769xx.s
FATFS/
Middlewares/ST/TouchGFX/
iEV_Host/.vs
iEV_Host/iEV_Host/bin/
iEV_Host/iEV_Host/obj/
